.card{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
    width: 475px;
    height: 130px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #000000;
    border-radius: 0.5rem;
    color: #FFFFFF;
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}
#user_info{
    display: flex;
    flex-direction: row;
}

#post{
    display: flex;
    flex-direction: column;
}
#post_column{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
#button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .button-15 {
     background-image: linear-gradient(#42A1EC, #0070C9);
     border: 1px solid #0077CC;
     border-radius: 4px;
     box-sizing: border-box;
     color: #FFFFFF;
     cursor: pointer;
     direction: ltr;
     display: block;
     font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 12px;
     font-weight: 400;
     letter-spacing: -.022em;
     line-height: 1.47059;
     min-width: 30px;
     overflow: visible;
     padding: 4px 15px;
     text-align: center;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
 }

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}
#title{
    opacity: 0.5;
}
#email{
    opacity: 0.5;

}
#userName{
    padding-right: 15px;
}